/* IMPORTAÇÃO DAS FONTES */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Orbitron:wght@500;700&display=swap');


/* RESET */

*{
margin: 0px;;
padding:0;
box-sizing:border-box;
}


/* BODY */

body{

background:#0a0a0a;
color:#eaeaea;
font-family:'Poppins', sans-serif;
line-height:1.6;

}


/* CONTAINER */

.container{

width:90%;
max-width:1200px;
margin:auto;

}


/* CABEÇALHO */

.cabecalho{

text-align:center;
padding:40px 0;
border-bottom:1px solid #7a3cff;

}

/* H1 COM FONTE DIFERENTE */

.cabecalho h1{

font-family:'Orbitron', sans-serif;
font-size:40px;
letter-spacing:3px;
color:#a259ff;

animation:fadeDown 0.8s ease;

}

.subtitulo{

color:#caa6ff;
margin-top:8px;
font-weight: bold;

}


/* MENU */

.menu{

background:#111;

}

.menu ul{

display:flex;
justify-content:center;
list-style:none;

}

.menu li{

margin:15px 25px;

}

.menu a{

color:#caa6ff;
text-decoration:none;
font-weight:500;
position:relative;
transition:0.3s;

}


/* LINHA ANIMADA NOS LINKS */

.menu a::after{

content:"";
position:absolute;
left:0;
bottom:-5px;
width:0;
height:2px;
background:#a259ff;
transition:0.3s;

}

.menu a:hover::after{

width:100%;

}


/* CONTEÚDO */

#conteudo_principal{

padding:50px 0;

}


/* GRID DE NOTÍCIAS */

.grid-noticias{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:30px;

}


/* CARD DAS NOTÍCIAS */

.card{

background:#121212;
padding:25px;
border-radius:8px;
transition:0.35s;
border:1px solid transparent;

}

/* ANIMAÇÃO AO PASSAR O MOUSE */

.card:hover{

transform:translateY(-8px);
border:1px solid #7a3cff;
box-shadow:0 10px 25px rgba(122,60,255,0.35);

}


/* TÍTULOS DAS NOTÍCIAS */

.card h2{

color:#a259ff;
margin-bottom:10px;

}


/* TEXTO */

.card p{

font-size:14px;
margin-bottom:15px;

}


/* LINKS */

.card a{

color:#caa6ff;
text-decoration:none;
font-weight:600;
transition:0.3s;

}

.card a:hover{

color:#ffffff;

}


/* RODAPÉ */

.rodape{

text-align:center;
padding:30px;
margin-top:60px;
border-top:1px solid #7a3cff;
color:#aaa;

}


/* ANIMAÇÃO DO TÍTULO */

@keyframes fadeDown{

from{
opacity:0;
transform:translateY(-20px);
}

to{
opacity:1;
transform:translateY(0);
}

}